.swiper {
  width: 100vw;
  margin-top: -2rem;
  height: 910px;
}

.swiper-slide {
  box-shadow: 0 0 1rem #00000033;
  background-color: #f2f5f3;
  /* border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem; */
  width: 100% !important;
  gap: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 850px !important;
  margin-top: 1rem;
  transition: all 0.3s ease-in-out;
}

.swiper-slide:hover {
  box-shadow: 0 1rem 3rem #00000033;
}

@media only screen and (min-width: 768px) {
  .swiper {
    height: 100vh;
  }
  .swiper-slide {
    margin-right: 4rem;
    width: 80% !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 90% !important;
  }
}
