.swiper-container {
  width: 100vw;
  max-height: 1493px;
  background-color: #f2f5f3;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hero-slide {
  box-shadow: 0 0 1rem #00000033;
  background-color: #f2f5f3;
  /* border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem; */
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  overflow: hidden;
  margin-right: 1rem;
}

.swiper-slide {
  width: 90vw;
}

.hero-slide .content {
  position: relative;
  z-index: 2;
}

.num-status {
  margin-left: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .swiper-container {
    width: 70vw;
  }

  .hero-slide {
    margin-right: 4rem;
    width: 100% !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

@media only screen and (min-width: 1028px) {
  .swiper-container {
    margin-top: -2rem;
  }
}

@media only screen and (max-width: 450px) {
  .num-status {
    margin-left: 2px;
    margin-right: 5px;
  }
}
